a:hover{
	color: green;
}
body{
	display: flex;
	flex-direction: column;
}

main{
	display: flex;
	flex: auto;
}

aside{
	flex: 1;
}

article{
	flex: 3;
}

.iLYCYN1{
	background-color: #F6F6F6;
}
.iLYCYN2{

}
.iLYCYN3{
	border-style:solid none solid solid;
	border-width: 1px;
	border-color: #114656;
	
}
.iLYCYN4{
	border-style:solid solid solid solid;
	border-width: 1px;
	border-color: #114656;
	background-color: #F6F6F6;
}

.bilibili1{
	font-family: "montserrat";
	background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
	background-size: 400%;
	animation: bganimation 20s infinite;
}
.bilibili2{
	background-image: url(https://z3.ax1x.com/2021/07/03/R2mHTU.png);
}
.bilibili3{
	border-style:solid none solid solid;
	border-width: 2px;
	border-color: #FFCCCC;
	background: none !important;
}
.bilibili4{
	border-style:solid solid solid solid;
	border-width: 2px;
	border-color: #FFCCCC;
}
.box{
    color: #FFFFFF; 
    text-align: center;
	margin: 235px 0;

    font-size: 20px;
}
@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

